<table class="table">
   <thead>
      <tr>
         <th>Size</th>
         <th>Toppings</th>
         <th>Price</th>
      </tr>
   </thead>
   <tbody>
      {{#each pizzas}}
      <tr>
         <td>{{size}}</td>
         <td>{{toppings}}</td>
         <td>{{price}}</td>
      </tr>
      {{/each}}
   </tbody>
</table>